.loginBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  height: 350px;
  padding: 30px;

  border: 1px solid #ebeef5;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.loginInput {
  width: 248px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0 15px;

  line-height: 40px;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  font-size: 12px;

  background-image: none;
  background-color: #fff;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}
.loginInput:focus {
  outline: none;
  border-color: #409eff;
}
.loginForm {
  font-size: 14px;
  padding-top: 20px;
}
.loginButton {
  display: inline-block;
  padding: 12px 20px;
  margin-top: 30px;

  width: 340px;
  font-size: 14px;
  color: #fff;
  background-color: #409eff;
  cursor: pointer;
  border: 1px solid #409eff;
  border-radius: 4px;

  text-align: center;
  line-height: 1;
}
.loginButton:focus {
  outline: none;
}
.bottomPane {
  margin-top: 20px;
}
.forgotButton {
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
.forgotButton:hover {
  color: #409eff;
}
.forgotButton:focus {
  outline: none;
}
